@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=MuseoModerno:ital,wght@0,900;1,300&display=swap');
*::-webkit-scrollbar {
    width: 16px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 5.5px solid transparent;
    background-clip: content-box;
    background-color: #888;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

body{
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgb(34, 34, 34);
    font-family: "DM Sans", sans-serif;
    height: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
  }

.video{
    height: 100%;
    width: 100vw;
}


.btn img {
    width: 100%;
  }


img{
    width: 15%;
  height: 4vh;
}

.img{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 60%;
    align-items: center;
}

.div1 {
  display: flex;
  width: 87%;
  justify-content: center;
}

.div2 {
  display: flex;
}

a {
  margin: 10px;
}

.login{
    margin: 10px;
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    width:auto;
}

.btn {
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .nav-toggler {
    position: absolute;
    z-index: 10;
    left: 30px;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.6s ease; 
}

.nav-toggler.active {
  left: 290px;
  position: fixed;
  border: 2px solid #000000a8;
  border-radius: 7px;
  width: 30px;
}


.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1{
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}


.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-45deg);
}


nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffffd6;
    overflow-x: hidden;
    transition: width 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 9; 
}

nav.active {
    width: 330px; 
    
}


nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s;
  position: relative;
  top: 30%;
  font-style: italic;
  height: auto;
  font-size: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}


nav a img {
    height: 70%;
    width: 6%;
  }

nav a:hover {
    background-color: #bebebe;
    
}


@media screen and (max-width:958px){
    img {
        height: 4vh;
        width: 25%;
      }
    header .img {
        display: flex;
        justify-content: center;
        width: 60%;
        height: 100%;
      }
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 10%;
      }
}




.main_container {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  position: relative;
  }
  
  .card1 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28vw;
    height: 80vh;
    margin-bottom: 100px;
    border-radius: 20px;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/027/395/858/large/frederic-caeyers-charger-front-use.jpg?1591403698");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    z-index: 0;
  }

  .card1 button{
    z-index: 100;
  }
  
  i {
    margin-top: 7px;
    font-size: 16px;
    width: 100%;
  }  


  .card2 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28vw;
    height: 80vh;
    margin-bottom: 100px;
    border-radius: 20px;
    background-image: url("https://gotmdm.com/custom/wp-content/uploads/sites/6/2017/12/SpeedKore-Dodge-Challenger-SRT-Demon-2017-front-face.jpg");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
  }
  

  .buttoncatalogue button:hover {
    background-color: white;
    color: black;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28vw;
    height: 80vh;
    border-radius: 20px;
    background-image: url("https://www.largus.fr/images/2022-08/dodge-hornet-2022-bleu-ar-mk.jpg");
    background-position: 59%;
    border: 1px solid black;
    position: relative;

    background-size: cover;
  }
  
  .card4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28vw;
    height: 80vh;
    border-radius: 20px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/938/537/269/2016-dodge-durango-wallpaper-preview.jpg");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    
  }
  
  .card1 p,
  .card2 p,
  .card3 p,
  .card4 p {
    font-size: 18px;
  margin: 0px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: unset;
  font-style: italic;
    }
  
  h3 {
    font-family: 'Italiana', sans-serif;
    color: #fffefe;
    font-size: 40px;
    font-style: normal;
    font-weight:bold;
    line-height: normal;
    padding-left: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .button {
    display: flex;
    width:100%;
    justify-content: initial;
    align-items: center;
  }

  span.buttoncatalogue {
    margin-top: auto;
    width: 100%;
    height: auto;
  }
  
  .buttoncatalogue button {
    cursor: pointer;
    color: var(--dark-overlay-text-100, #fff);
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    width: 33%;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    text-overflow: clip;
    margin: 10px;
  }
  
  .nav-toggler.active .line {
    background-color: rgb(39, 39, 39);
  }




  

@media screen and (max-width:500px){
  body{
    margin: 0;


  }


  header img{
    width: inherit;
  }

  nav.active{
    width: 213px;
  }
  nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffffd6;
    overflow-x: hidden;
    transition: width 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 9;
  }

  .nav-toggler.active {
    left: 10px;
    position: fixed;
    border: 2px solid #000000a8;
    border-radius: 7px;
    width: 30px;
  }
  span.buttoncatalogue {
    margin-top: 60px;
    width: 100%;
    height: auto;
  }
  .card1 p, .card2 p, .card3 p, .card4 p {
    font-size: 18px;
    margin: 0px 15px;
      margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: unset;
    font-style: italic;
    margin-top: 110px;
  }

  .card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/027/395/858/large/frederic-caeyers-charger-front-use.jpg?1591403698");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    z-index: 0;
  }

  .card2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-image: url("https://gotmdm.com/custom/wp-content/uploads/sites/6/2017/12/SpeedKore-Dodge-Challenger-SRT-Demon-2017-front-face.jpg");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    z-index: 0;
  }

  .card3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-image: url("https://www.largus.fr/images/2022-08/dodge-hornet-2022-bleu-ar-mk.jpg");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    z-index: 0;
  }
  .card4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/938/537/269/2016-dodge-durango-wallpaper-preview.jpg");
    background-position: center;
    border: 1px solid black;
    position: relative;
    background-size: cover;
    z-index: 0;
  }
}