@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body{
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgb(34, 34, 34);
    font-family: "DM Sans", sans-serif;
    height: auto;
    overflow-x: hidden

}
.video{
    height: 100%;
    width: 100vw;
}

header {
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
  }

.btn img {
    width: 100%;
  }


img{
    width: 20%;
  height: 5vh;
}

.img{
    display: flex;
  justify-content: center;
  height: 100px;
  width: 60%;
  align-items: center;
}
.div1{
    display: flex;
    width: 87%;
    justify-content: center;
}

.div2{
    display: flex;
}

a{
    margin: 10px;
}


.deroulant:hover{
    background-color: #cccccc42;
}

.login{
    margin: 10px;
    width: 18%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    width:auto;
}

.btn {
  width: 15%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}


.nav-toggler{
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-items: center;
    background: transparent;
}


.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background:#f1f1f1 ;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}


.l1{
    transform: translateY(-10px);

}

.l3{
    transform: translateY(10px);
}


.nav-toggler:active .l1{
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler:active .l2{
    opacity: 0;
}


.nav-toggler:active .l3{
    transform: translateY(0px) rotate(-45deg);
}

nav{
    position: fixed;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73,0.11,0.67,0.84);
}

nav:active{
    transform: translate(0);
}

nav a{
    display: block;
    margin: 10px 0;
    text-decoration: none;
}





@media screen and (max-width:958px){
    img{
        height: 4vh;
    }
    header .img{
        display: flex;
        justify-content: center;
        width: 58%;
        height: auto;
    }
    header {
        display: flex;
        flex-wrap: wrap;
      }
}
